node-red-flow/flows (1).json
[
    {
        "id": "25ee7ada6aa83faf",
        "type": "tab",
        "label": "PharmaChain",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "18a70cfeb0422ba6",
        "type": "mqtt in",
        "z": "25ee7ada6aa83faf",
        "name": "",
        "topic": "pharmachain/device1/data",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "9143b465a12c0fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 240,
        "wires": [
            [
                "cfd794e87f674c7e",
                "3436d900807f4693",
                "9cd726740415d2ec",
                "ad6c4208bd7ab971",
                "88eaf506f0a81197",
                "267c41679abf536a",
                "9e9ef26eb4a60a4c"
            ]
        ]
    },
    {
        "id": "9cd726740415d2ec",
        "type": "debug",
        "z": "25ee7ada6aa83faf",
        "name": "AWS Data Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 40,
        "wires": []
    },
    {
        "id": "cfd794e87f674c7e",
        "type": "ui_gauge",
        "z": "25ee7ada6aa83faf",
        "name": "Temperature",
        "group": "5f6f5764abf31437",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature Gauge",
        "label": "degrees",
        "format": "{{msg.payload.temperature}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#dd3636"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 390,
        "y": 420,
        "wires": []
    },
    {
        "id": "3436d900807f4693",
        "type": "ui_gauge",
        "z": "25ee7ada6aa83faf",
        "name": "Humidity",
        "group": "5f6f5764abf31437",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity Gauge",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0fc3ff",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "a7fb4c07471a49c4",
        "type": "ui_template",
        "z": "25ee7ada6aa83faf",
        "group": "56e6870381cc9a93",
        "name": "Google Map (Live Monitoring)",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<script>\n(function(scope) {\n    scope.$watch('msg.payload', function(payload) {\n        try {\n            var mapDiv = document.getElementById(\"mapDiv\");\n            if (mapDiv && typeof payload === \"string\") {\n                mapDiv.innerHTML = payload;\n            }\n        } catch(e) {\n            console.error(e);\n        }\n    });\n})(scope);\n</script>\n\n<div id=\"mapDiv\" style=\"text-align:center;\"></div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 710,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9e9ef26eb4a60a4c",
        "type": "function",
        "z": "25ee7ada6aa83faf",
        "name": "function 1",
        "func": "if (msg.payload.latitude && msg.payload.longitude) {\n    const lat = msg.payload.latitude;\n    const lon = msg.payload.longitude;\n    const batch = msg.payload.batch_id || \"Unknown Batch\";\n    const stage = msg.payload.stage || \"Unknown Stage\";\n\n    msg.payload = `\n        <div style=\"text-align:center;\">\n            <iframe\n                width=\"100%\"\n                height=\"300\"\n                style=\"border:0; border-radius:12px;\"\n                loading=\"lazy\"\n                allowfullscreen\n                referrerpolicy=\"no-referrer-when-downgrade\"\n                src=\"https://maps.google.com/maps?q=${lat},${lon}&z=14&output=embed\">\n            </iframe>\n            <p style=\"margin-top:8px;font-weight:bold;font-size:14px;\">\n                🧾 ${batch} — 🚚 ${stage}<br>\n                📍 Lat: ${lat.toFixed(4)}, Lon: ${lon.toFixed(4)}\n            </p>\n        </div>`;\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "a7fb4c07471a49c4"
            ]
        ]
    },
    {
        "id": "ad6c4208bd7ab971",
        "type": "ui_text",
        "z": "25ee7ada6aa83faf",
        "group": "5f6f5764abf31437",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Batch id",
        "label": "batch ID",
        "format": "{{msg.payload.batch_id}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 380,
        "y": 160,
        "wires": []
    },
    {
        "id": "88eaf506f0a81197",
        "type": "ui_text",
        "z": "25ee7ada6aa83faf",
        "group": "5f6f5764abf31437",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Stage",
        "format": "{{msg.payload.stage}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 370,
        "y": 300,
        "wires": []
    },
    {
        "id": "267c41679abf536a",
        "type": "ui_text",
        "z": "25ee7ada6aa83faf",
        "group": "5f6f5764abf31437",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seal Status",
        "format": "{{msg.payload.seal_status}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "70092e91a9e1d62e",
        "type": "function",
        "z": "25ee7ada6aa83faf",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9143b465a12c0fd5",
        "type": "mqtt-broker",
        "name": "AWS IoT Core",
        "broker": "a10ndj6af7jzj8-ats.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "26be232c7d929953",
        "clientid": "NodeRED_Dashboard",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5f6f5764abf31437",
        "type": "ui_group",
        "name": "Environment monitoring",
        "tab": "193a56e49f9143f8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "56e6870381cc9a93",
        "type": "ui_group",
        "name": "Location Monitoring",
        "tab": "193a56e49f9143f8",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "26be232c7d929953",
        "type": "tls-config",
        "name": "AWS_TLS_Config",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "55dc825d3da055aa50d059c8de1e0e3f100aac03dddb58773842454e22379b96-certificate.pem.crt",
        "keyname": "55dc825d3da055aa50d059c8de1e0e3f100aac03dddb58773842454e22379b96-private.pem.key",
        "caname": "AmazonRootCA1 (1).pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "193a56e49f9143f8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb2eacef1d803c7b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]